div{
    background-color: white;
    height: 300px;
    width: 500px;
    /* transition: all 2s ease-in-out 0.2s; */

    
}

div:hover{
    background-color: brown;
    color: aqua;
}

